# Banco de Dados (Exemplo)
MYSQL_DATABASE=trainingdb
MYSQL_ROOT_PASSWORD=root123456
MYSQL_USER=appuser
MYSQL_PASSWORD=appuser123

# Spring Datasource
SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/trainingdb
SPRING_DATASOURCE_USERNAME=appuser
SPRING_DATASOURCE_PASSWORD=appuser123

# JWT (exemplo apenas)
JWT_SECRET=ZmFrZS1qd3Qtc2VjcmV0LWZvci1kZXZlbG9wbWVudA==